#houseRoomItemsBuilt li {
    clear: both;
    text-align: right;
    display: block;
}

#houseRoomItemsBuilt .houseViewRoomItem {
    float: left;
}

div#itemEquippedTooltip, div#itemTooltip, div#accessoryTooltip, div#gemTooltip {
    position: fixed;
    top: initial !important;
    bottom: 10px !important;
}

div#itemEquippedTooltip {
    left: 215px !important;
}

div#itemTooltip {
    left: 10px !important;
}

div#gemTooltip {
    left: 420px !important;
}

.houseLabel {
    display: block;
    text-decoration: none !important;
}

div#chatMessageWrapper:before {
    content: attr(data-limiter);
    font-size: 10px;
    position: absolute;
    top: -8px;
    z-index: 1;
    background: var(--btn-background-color);
    border: 1px solid var(--border-color);
    right: 110px;
}

.ct-label {
    color: #d2d2d2;
}

.ct-series-a .ct-line {
    stroke-width: 2px;
    stroke: var(--action-color);
}

.ct-series-a .ct-point {
    stroke: var(--action-color);
    stroke-width: 4px;
    stroke-linecap: square;
}

table#QoLStats tbody tr td:first-child {
    white-space: nowrap;
    overflow: hidden;
}

ul#RQ-hub-charts-tabs a {
    text-decoration: none;
}

ul#RQ-hub-charts-tabs li.active a, ul#RQ-hub-charts-tabs li a:hover {
    background: var(--btn-background-color);
    color: #fff;
}

div#RQ-hub-wrapper div.tab-pane.active {
    color: #fff;
}

.dygraph-legend {
    background: var(--btn-background-color);
}

.dygraph-legend > span {
    display: block;
}

.dygraph-axis-label {
    color: #fff;
}

div#RQ-hub-wrapper table.rq-styled thead th {
    background-image: linear-gradient(to bottom, var(--header-gradient-first-color) 0, var(--header-gradient-second-color) 100%);
}

div#RQ-hub-wrapper table.rq-styled,
div#RQ-hub-wrapper table.rq-styled * {
    border-color: var(--border-color);
}

div#RQ-hub-wrapper table.rq-styled td.dt-section-divider {
    border-right-color: var(--border-color-bright);
}

#RQ-dashboard-localstorage-state button.btn {
    text-align: left;
    clear: both;
}

#RQ-dashboard-localstorage-state button.btn span.badge {
    float: right;
}

#RQ-dashboard-localstorage-state {
    width: 100%;
}

#RQ-dashboard-update-log details {
    margin-bottom: 2px;
}

#RQ-dashboard-update-log details summary {
    border-top: 1px solid var(--action-color);
    cursor: pointer;
}

#RQ-dashboard-update-log details[open] summary {
    font-style: italic;
    height: 20px;
    overflow-y: hidden;
    color: #777;
}

a.qol-update-ready {
    position: relative;
}

a.qol-update-ready:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #f00;
    position: absolute;
    top: -2px;
    right: -9px;
    border-radius: 3px;
}

details.qol-new-log:after {
    position: absolute;
    display: block;
    content: "new";
    right: 2px;
    bottom: 1px;
    font-size: 85%;
    background: #000000;
    padding: 0px 2px;
}

details.qol-new-log {
    background-image: linear-gradient(135deg, #00000002 90%, var(--action-color));
    position: relative;
}

#allThemTables > tbody > tr > td {
    width: calc(100% / 6);
}

table#allThemTables > tbody > tr > td > table {
    width: 85%;
    margin: 0 7.5%;
}

.sp-container.sp-flat {
    width: 100%;
    text-align: center;
}
.sp-container{
    background: transparent;
    border: none;
}
.sp-picker-container {
    display: inline-block;
    float: none!important;
    border-left: none;
}

label[for="roaMobInterval"], label[for="roaMobSpeed"] {
    position: absolute;
    top: -5px;
    left: 17px;
    background: var(--ui-background-color);
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 11px;
}
