<table id="QoLStats">
    <tbody>
    <tr class="hidden rq-h rq-battle rq-harvest rq-craft rq-carve">
        <td class="left">XP / h:</td>
        <td class="right" id="XPPerHour" data-toggle="tooltip" title="0" style="color:#FF7;"></td>
    </tr>
    <tr class="hidden rq-h rq-battle">
        <td class="left">Clan XP / h:</td>
        <td class="right" id="BattleClanXPPerHour" data-toggle="tooltip" title="0" style="color:#FF7;"></td>
    </tr>
    <tr class="hidden rq-h rq-battle">
        <td class="left">Gold / h:</td>
        <td class="right" id="BattleGoldPerHour" data-toggle="tooltip" title="0" style="color:#FFD700;"></td>
    </tr>
    <tr class="hidden rq-h rq-battle">
        <td class="left">Clan Gold / h:</td>
        <td class="right" id="BattleClanGoldPerHour" data-toggle="tooltip" title="0" style="color:#FFD700;"></td>
    </tr>
    <tr class="hidden rq-h rq-harvest">
        <td class="left">Res / h:</td>
        <td class="right" id="TSResourcesPerHour" data-toggle="tooltip" title="0"></td>
    </tr>
    <tr class="hidden rq-h rq-harvest">
        <td class="left">Clan Res / h:</td>
        <td class="right" id="TSClanResourcesPerHour" data-toggle="tooltip" title="0"></td>
    </tr>
    <tr class="hidden rq-h rq-battle rq-harvest rq-craft rq-carve">
        <td class="left">ETA to level:</td>
        <td class="right" id="LevelETA" data-toggle="tooltip" title="0"></td>
    </tr>
    <tr class="hidden rq-h rq-craft">
        <td class="left">ETA to item:</td>
        <td class="right" id="CraftItemETA" data-toggle="tooltip" title="0"></td>
    </tr>
    <tr class="hidden rq-h rq-event-update">
        <td class="left">Total participants:</td>
        <td class="right" id="EventTotalParticipants"></td>
    </tr>
    <tr class="hidden rq-h rq-event-update">
        <td class="left">Battlers:</td>
        <td class="right" id="EventBattlingParticipants"></td>
    </tr>
    <tr class="hidden rq-h rq-event-update">
        <td class="left">Havesters:</td>
        <td class="right" id="EventHarvestingParticipants"></td>
    </tr>
    <tr class="hidden rq-h rq-event-update">
        <td class="left">Crafters:</td>
        <td class="right" id="EventCraftingParticipants"></td>
    </tr>
    <tr class="hidden rq-h rq-event-update">
        <td class="left">Carvers:</td>
        <td class="right" id="EventCarvingParticipants"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <a href="javascript:void(0);" class="topLink" id="RoA-QoL-open-hub">RoA-QoL Hub</a>
        </td>
    </tr>
    </tbody>
</table>
