<h4 class="text-center">Settings</h4>
<div class="row">
    <div class="col-md-6">
        <h5 class="text-center">General</h5>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Browser tab badge</h6>
            </div>
            <label class="col-xs-6">
                <input type="checkbox" class="qol-setting" data-key="badge_stamina"> Show stamina remaining
            </label>
            <label class="col-xs-6">
                <input type="checkbox" class="qol-setting" data-key="badge_fatigue"> Show fatigue actions count
            </label>
            <label class="col-xs-6">
                <input type="checkbox" class="qol-setting" data-key="badge_event"> Show event time remaining
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">House</h6>
            </div>
            <label class="col-xs-12">
                <input type="checkbox" class="qol-setting" data-key="house_tooltips"> Add house items tooltips
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Event</h6>
            </div>
            <label class="col-xs-12">
                <input type="checkbox" class="qol-setting" data-key="event_abbreviation"> Abbreviate event update messages
            </label>
            <label class="col-xs-6">
                <input type="checkbox" class="qol-setting" data-key="event_ratio_message"> Calc approximate plat/EP ratio
            </label>
            <label class="col-xs-6">
                <input type="checkbox" class="qol-setting" data-key="event_ratio_chat_prepare"> Set the event ratio summary as chat message <i class="fa fa-info-circle" data-toggle="tooltip" title="This will only happen if you don't have anything typed yet :)"></i>
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Chat</h6>
            </div>
            <label class="col-xs-12">
                <input type="checkbox" class="qol-setting" data-key="char_count"> Add character count next to message input
            </label>
            <label class="col-xs-12">
                <input type="checkbox" class="qol-setting" data-key="command_helper" disabled> Add command helper
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Inventory</h6>
            </div>
            <label class="col-xs-12">
                <input type="checkbox" class="qol-setting" data-key="fame_own_gems"> Add [Fame Own] gem button
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <h5 class="text-center">Tracker</h5>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Account</h6>
            </div>
            <label class="col-md-6">
                <input type="checkbox" class="qol-setting" data-key="tracker-fame"> Fame
            </label>
            <label class="col-md-6 crystals">
                <input type="checkbox" class="qol-setting" data-key="tracker-crystals"> Crystals
            </label>
            <label class="col-md-6 platinum">
                <input type="checkbox" class="qol-setting" data-key="tracker-platinum"> Platinum
            </label>
            <label class="col-md-6 gold">
                <input type="checkbox" class="qol-setting" data-key="tracker-gold"> Gold
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Resources</h6>
            </div>
            <label class="col-md-6 food">
                <input type="checkbox" class="qol-setting" data-key="tracker-food"> Food
            </label>
            <label class="col-md-6 wood">
                <input type="checkbox" class="qol-setting" data-key="tracker-wood"> Wood
            </label>
            <label class="col-md-6 iron">
                <input type="checkbox" class="qol-setting" data-key="tracker-iron"> Iron
            </label>
            <label class="col-md-6 stone">
                <input type="checkbox" class="qol-setting" data-key="tracker-stone"> Stone
            </label>
            <label class="col-md-6 crafting">
                <input type="checkbox" class="qol-setting" data-key="tracker-mats"> Crafting Materials
            </label>
            <label class="col-md-6 carving">
                <input type="checkbox" class="qol-setting" data-key="tracker-frags"> Gem Fragmets
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Base stats</h6>
            </div>
            <label class="col-md-6 ruby">
                <input type="checkbox" class="qol-setting" data-key="tracker-strength"> Strength
            </label>
            <label class="col-md-6 opal">
                <input type="checkbox" class="qol-setting" data-key="tracker-health"> Health
            </label>
            <label class="col-md-6 sapphire">
                <input type="checkbox" class="qol-setting" data-key="tracker-coordination"> Coordination
            </label>
            <label class="col-md-6 emerald">
                <input type="checkbox" class="qol-setting" data-key="tracker-agility"> Agility
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">General</h6>
            </div>
            <label class="col-md-12">
                <input type="checkbox" class="qol-setting" data-key="tracker-average_damage"> Average damage vs. Strength
            </label>
            <label class="col-md-12">
                <input type="checkbox" class="qol-setting" data-key="tracker-captcha" disabled> Captcha rewards
            </label>
        </div>
    </div>
</div>
