<h4 class="text-center">Settings</h4>
<div class="row">
    <div class="col-md-6">
        <h5 class="text-center">General</h5>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Browser tab badge</h6>
            </div>
            <label class="col-xs-6">
                <input type="checkbox" name="settings[badge_stamina]"> Show stamina remaining
            </label>
            <label class="col-xs-6">
                <input type="checkbox" name="settings[badge_fatigue]"> Show fatigue actions count
            </label>
            <label class="col-xs-6">
                <input type="checkbox" name="settings[badge_event]"> Show event time remaining
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">House</h6>
            </div>
            <label class="col-xs-12">
                <input type="checkbox" name="settings[house_tooltips]"> Add house items tooltips
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Event</h6>
            </div>
            <label class="col-xs-12">
                <input type="checkbox" name="settings[event_abbreviation]"> Abbreviate event update messages
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Chat</h6>
            </div>
            <label class="col-xs-12">
                <input type="checkbox" name="settings[char_count]"> Add character count next to message input
            </label>
            <label class="col-xs-12">
                <input type="checkbox" name="settings[command_helper]" disabled> Add command helper
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <h5 class="text-center">Tracker<br>
            <small>track changes to</small>
        </h5>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Account</h6>
            </div>
            <label class="col-md-6">
                <input type="checkbox" name="settings[tracker][fame]" disabled> Fame
            </label>
            <label class="col-md-6 crystals">
                <input type="checkbox" name="settings[tracker][crystals]" disabled> Crystals
            </label>
            <label class="col-md-6 platinum">
                <input type="checkbox" name="settings[tracker][platinum]"> Platinum
            </label>
            <label class="col-md-6 gold">
                <input type="checkbox" name="settings[tracker][gold]"> Gold
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Resources</h6>
            </div>
            <label class="col-md-6 food">
                <input type="checkbox" name="settings[tracker][food]"> Food
            </label>
            <label class="col-md-6 wood">
                <input type="checkbox" name="settings[tracker][wood]"> Wood
            </label>
            <label class="col-md-6 iron">
                <input type="checkbox" name="settings[tracker][iron]"> Iron
            </label>
            <label class="col-md-6 stone">
                <input type="checkbox" name="settings[tracker][stone]"> Stone
            </label>
            <label class="col-md-6 crafting">
                <input type="checkbox" name="settings[tracker][mats]"> Mats
            </label>
            <label class="col-md-6 carving">
                <input type="checkbox" name="settings[tracker][frafs]"> Frags
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">Base stats</h6>
            </div>
            <label class="col-md-6 ruby">
                <input type="checkbox" name="settings[tracker][strength]"> Strength
            </label>
            <label class="col-md-6 opal">
                <input type="checkbox" name="settings[tracker][health]"> Health
            </label>
            <label class="col-md-6 sapphire">
                <input type="checkbox" name="settings[tracker][coordination]"> Coordination
            </label>
            <label class="col-md-6 emerald">
                <input type="checkbox" name="settings[tracker][agility]"> Agility
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center">General</h6>
            </div>
            <label class="col-md-12">
                <input type="checkbox" name="settings[tracker][average_damage]"> Average damage vs. Strength
            </label>
            <label class="col-md-12">
                <input type="checkbox" name="settings[tracker][captcha]"> Captcha rewards
            </label>
        </div>
    </div>
</div>
